@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

#container {
    width: 80%;
    max-width: 1200px;
    height: 90%;
    margin: 0 auto;
    padding-bottom: 20%;
    /* background-color: rgb(101, 241, 169); */
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    align-items: center;
    background-image: linear-gradient( 200deg, #303649 40%, #202430, #000000 90% );
}

.background-icon {
    position: fixed;
    width: 150px;
    height: 150px;
    z-index: -1;
}

.icon-1 {
    top: 10%;
    left: 20%;
    transform: rotate(45deg);
    opacity: 0.2;
    background-image: url(images/icon1.jpg);
}

.icon-2 {
    top: 30%;
    left: 28%;
    transform: rotate(-30deg);
    opacity: 0.2;
    background-image: url(images/icon2.jpg);
}

.icon-3 {
    top: 55%;
    left: 20%;
    transform: rotate(15deg);
    opacity: 0.2;
    background-image: url(images/icon3.jpg);
}

.icon-4 {
    top: 75%;
    left: 25%;
    transform: rotate(-10deg);
    opacity: 0.2;
    background-image: url(images/icon4.jpg);
}

.icon-5 {
    top: 5%;
    left: 70%;
    transform: rotate(60deg);
    opacity: 0.2;
    background-image: url(images/icon5.jpg);
}

.icon-6 {
    top: 30%;
    left: 68%;
    transform: rotate(-20deg);
    opacity: 0.2;
    background-image: url(images/icon6.jpg);
}

.icon-7 {
    top: 60%;
    left: 73%;
    transform: rotate(30deg);
    opacity: 0.2;
    background-image: url(images/icon7.jpg);
}

.icon-8 {
    top: 80%;
    left: 65%;
    transform: rotate(-40deg);
    opacity: 0.2;
    background-image: url(images/icon8.jpg);
}

#icons_back {
    width: 100%;
    height: 100%;
}

#head {
    padding: 3%;
}

#foto_perfil {
    width: 20%;
    max-width: 320px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto
}

#titulo_nome {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3vh;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

#conteudo {
    width: 80%;
    margin: 0 auto;
}

#conteudo #titulo {
    text-align: start;
    font-family: 'Oswald';
    font-size: 3vh;
    margin-left: 2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

#box_links {
    justify-content: center;
    align-items: center;
}

.card_link {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    width: 80%;
    transition: all 0.3s ease-out;
    margin: 0 auto;
    background-image: linear-gradient( 90deg, #ffd052 20%, #ffe952 70% );
}

.card_link:hover {
    transform: translateY(-5px);
}

.subTitulo{
    color: rgb(45, 43, 43);
    font-size: 0.9em;
    font-family: 'Oswald';
    font-weight: 200;
}

.titulo {
    color: #000;
    font-size: 2em;
    font-family: 'Oswald';
}

.icons {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

a {
    text-decoration: none;
}

.icons {
    width: 30px;
    margin: 0 auto;
    align-items: center;
}

#footer {
    margin: auto;
    width: 80%;
    bottom: 4vh;
    padding-top: 10%;
    text-align: center;
}

#footer p {
    color: rgb(0, 0, 0);
    font-family: 'Chivo Mono';
    font-weight: 400;
    vertical-align: middle;
    font-size: 2vh;
}

#footer span {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 2vh;
}

#footer img {
    height: 100px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 1850px) {
    #footer img {
        height: 150px;
    }
}

@media (max-width: 1500px) {
    .icon-1 {
        top: 10%;
        left: 10%;
        transform: rotate(45deg);
        opacity: 0.2;
        background-image: url(images/icon1.jpg);
    }

    .icon-2 {
        top: 30%;
        left: 18%;
        transform: rotate(-30deg);
        opacity: 0.2;
        background-image: url(images/icon2.jpg);
    }

    .icon-3 {
        top: 55%;
        left: 10%;
        transform: rotate(15deg);
        opacity: 0.2;
        background-image: url(images/icon3.jpg);
    }

    .icon-4 {
        top: 75%;
        left: 15%;
        transform: rotate(-10deg);
        opacity: 0.2;
        background-image: url(images/icon4.jpg);
    }

    .icon-5 {
        top: 5%;
        left: 80%;
        transform: rotate(60deg);
        opacity: 0.2;
        background-image: url(images/icon5.jpg);
    }

    .icon-6 {
        top: 30%;
        left: 78%;
        transform: rotate(-20deg);
        opacity: 0.2;
        background-image: url(images/icon6.jpg);
    }

    .icon-7 {
        top: 60%;
        left: 83%;
        transform: rotate(30deg);
        opacity: 0.2;
        background-image: url(images/icon7.jpg);
    }

    .icon-8 {
        top: 80%;
        left: 75%;
        transform: rotate(-40deg);
        opacity: 0.2;
        background-image: url(images/icon8.jpg);
    }
}

@media (max-width: 900px) {
    .background-icon {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 500px) {
    #foto_perfil {
        width: 40%;
    }
    .background-icon {
        width: 70px;
        height: 70px;
    }
    .icon-1 {
        top: 10%;
        left: 10%;
        transform: rotate(45deg);
        opacity: 0.2;
        background-image: url(images/icon1.jpg);
    }

    .icon-2 {
        top: 20%;
        left: 50%;
        transform: rotate(-30deg);
        opacity: 0.2;
        background-image: url(images/icon2.jpg);
    }

    .icon-3 {
        top: 40%;
        left: 5%;
        transform: rotate(15deg);
        opacity: 0.2;
        background-image: url(images/icon3.jpg);
    }

    .icon-4 {
        top: 45%;
        left: 80%;
        transform: rotate(-10deg);
        opacity: 0.2;
        background-image: url(images/icon4.jpg);
    }

    .icon-5 {
        top: 5%;
        left: 75%;
        transform: rotate(60deg);
        opacity: 0.2;
        background-image: url(images/icon5.jpg);
    }

    .icon-6 {
        top: 80%;
        left: 10%;
        transform: rotate(-20deg);
        opacity: 0.2;
        background-image: url(images/icon6.jpg);
    }

    .icon-7 {
        top: 65%;
        left: 5%;
        transform: rotate(30deg);
        opacity: 0.2;
        background-image: url(images/icon7.jpg);
    }

    .icon-8 {
        top: 80%;
        left: 75%;
        transform: rotate(-40deg);
        opacity: 0.2;
        background-image: url(images/icon8.jpg);
    }
}